/**
* Justin Lavoie <jlavoie1602@gmail.com>
* Quebec, Quebec, Canada
* 2011, September
**/

body{
    font-family:Vedana, sans-serif;
    background: #FFF;
}

a{
    color: #000;
}

header{
    text-align:center;
    text-decoration:underline;
}

footer{
    padding: 0 10 0 10;
}

#licence{
    text-align:center;
}

.note{
    color:red;
}

#licence{
    text-align:center;
}

footer{
    text-align:center;
}

footer li{
    list-style:none;
}